DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/medicore
JWT_SECRET=cambia-esto-en-produccion-usa-openssl-rand-hex-32
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
JWT_SUPPORT_EXPIRE_MINUTES=60  # TTL corta para sesiones de suplantación (soporte)
